.logo {
    width: 120px;
    height: 40px;
    background: url('/static/assets/logo.png') no-repeat center / contain;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.navbar .linc-area {
    display: flex;
}

.linc-area .menu-item {
    list-style: none;
    text-decoration: none;
    color: var(--link-color);
    padding: 8px 12px;
}

.user-area {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;

    gap: 20px;
}

.user-area .menu-item {
    list-style: none;
    text-decoration: none;
}

.user-area .avatar {
    width: 46px;
    height: 46px;
    background: url('/static/assets/default_avatar.png') no-repeat center / cover;
    border-radius: 50%;
    cursor: pointer;
}
