{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h1>Создайте чат</h1>

            {% for field in form %}
                <label for="{{ field.id_for_label }}"></label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-error">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn">Создать</button>
        </div>
    </form>

    <style>
        main {
            width: 400px;
            height: 300px;
            
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock content %}
